{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} <title>{{ title }} | CapitalBank</title> {% endblock %}

{% block body %}
<div class="form-container">
        <div class="title-container">
            <h3 class="card-title">{{ title }}</h3>
        </div>
        <div class="card-form">
            <form method="POST" style="width:60%;margin:auto">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="form-btn"><b>Submit</b></button>
            </form>
        </div>
</div>
{% endblock %}
