{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="parent_div">
    <form method="POST" style="width:80%;margin:auto">
        {% csrf_token %}
        <h2 style="text-align:center; margin-bottom: 20px;">Signup</h2>
        <!--{{form | crispy}}-->
            <div class="col-12">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
         <div class="form-grid">
            <div>
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div>
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>

            <div>
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div>
                {{ form.account_type.label_tag }}
                {{ form.account_type }}
            </div>

            <div>
                {{ form.gender.label_tag }}
                {{ form.gender }}
            </div>
            <div>
                {{ form.birth_date.label_tag }}
                {{ form.birth_date }}
            </div>

            <div>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <div>
                {{ form.street_address.label_tag }}
                {{ form.street_address }}
            </div>
            <div>
                {{ form.postal_code.label_tag }}
                {{ form.postal_code }}
            </div>
            <div>
                {{ form.city.label_tag }}
                {{ form.city }}
            </div>
            <div>
                {{ form.country.label_tag }}
                {{ form.country }}
            </div>
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" style="width:100%" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
{% endblock %}





